footer {
    border: 1px solid yellowgreen;
    // display: flex;
    // align-items: center;
    // padding: 0 20px;
    color: white;

    a {
        text-decoration: none;
    }

    svg {
        fill: white;
        height: 30px;
        width: 30px;
        &:hover {
            fill: rgb(173, 173, 173);
        }
    }

    // span {
    //     width: 50%;
    //     display: flex;
    //     justify-content: flex-end;
    // }
}