// Set global variables
$deepblue: #03071E;
$blueHeader: #162164;
$orange: #DC2F02;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: $deepblue;
    position: relative;
}