nav {
    background-color: $blueHeader;

    .navbar-brand {
        display: flex;
        align-items: center;

        .logo-text {
            color: white;
            font-weight: bold;
            padding-left: 10px;
        }
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}