<%- include('./partials/header.ejs') %>
    <div class="index-container">
        <h1>Welcome to Manga Archive!</h1>
        <h2>Your manga archive online.</h2>
        <a href="/manga">
            <button>Start explore</button>
        </a>

        <div class="image-container">
            <img src="/images/manga-boy.png" class="img-fluid" alt="manga-boy-image">
        </div>
    </div>
<%- include('./partials/footer.ejs') %>